#include "zmk-helpers/key-labels/42.h"

#define NAV 1

/* map Corne's extra keys */
#define X_LT &kp RC(RG(Q))
#define X_LM &kp LG(LC(LA(LSHIFT)))
#define X_LB &kp LC(LA(LSHIFT))
#define X_LH &kp LCTRL

#define X_RT &kp DEL
#define X_RM &tog NAV
#define X_RB &kp GLOBE
#define X_RH &kp LALT

/* activate bluetooth */
#define CONFIG_WIRELESS 1

#include "base.keymap"

